h1{
    margin: 30px;
    color: rgb(88, 20, 151);
    font-size: 60px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
 
    .nav{
        position:sticky;
        top: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;
        text-align: end;
          height: 100px;
          width: 100%;
          background-color: black;
         
          .nav-item{h2{
            color: rgb(214, 204, 224);
            background-color: black;
            padding: 10px;
            margin: 0px;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;}
        }
     .section{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-items: center;
          height: 800px;
          width: 100%;
          background-color: #d0b2ef;
          img{
            object-fit: cover;
              width:100%;
              height:100%;
          }
      }
      .footer
     h3{
        color: #fff;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
      }}
}